/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.popup {
    height: 500px;
    min-width: 470px;
}

.main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 100px auto 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 400px;
    height: 496px;
    -webkit-box-shadow: 0 0 20px rgba(2, 41, 120, 0.1);
            box-shadow: 0 0 20px rgba(2, 41, 120, 0.1);
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    padding: 50px 70px;
}

.popup-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    margin-bottom: 50px;
    width: 100%;
}

.popup-menu__item {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 3px;
    margin-right: 26px;
}

.popup-menu__item--active {
    border-bottom: 2px #e66a64 solid;
}

.popup-menu__item:hover {
    border-bottom: 2px #e66a64 solid;
    }

.popup-menu__link {
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.login-form {
    display: block;
    width: 100%;
    overflow: hidden;
}

.login-form__label {
    display: block;
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

.login-form__input {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 42px;
    width: 100%;
    border: 2px solid rgba(191, 185, 204, 0.54);
    background-color: rgba(0, 0, 0, 0);
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.login-form__input:active {
    border: 2px solid rgba(230, 106, 100, 1);
    outline: none;
}

.login-form__input:focus {
    border: 2px solid rgba(230, 106, 100, 1);
    outline: none;
}

.login-form__label-checkbox {
    display: block;
    padding-left: 26px;
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    margin-bottom: 41px;
}

.login-form__input-checkbox {
    position: absolute ;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.login-form__alt-checkbox {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -26px;
    background-color: #23ae92;
}

.login-form__input-checkbox:checked + .login-form__alt-checkbox{
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.login-form__input-checkbox:focus + .login-form__alt-checkbox{
    -webkit-box-shadow: 0px 0px 0 2px #e66a64;
            box-shadow: 0px 0px 0 2px #e66a64;
}

/* Disabled checkbox*/
.login-form__input-checkbox:disabled + .login-form__alt-checkbox {
    background-color: #668a83;
    opacity: 0.5;
}

.login-form__input-checkbox:disabled + .login-form__alt-checkbox + .login-form__text {
    opacity: 0.54;
}

.login-form__input-checkbox:checked:disabled + .login-form__alt-checkbox{
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(191, 185, 204, 0.54);
}
/* Disabled checkbox */

.login-form__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    height: 42px;
    width: 100%;
    background-color: #23ae92;
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    border: none;
    margin-bottom: 33px;
}

.login-form__button:hover {
    border: 2px solid rgba(230,106,100, 1);
    outline: none;
} 

.login-form__button:active {
    border: 2px solid rgba(230,106,100, 1);
    outline: none;
} 

.login-form__button:focus {
    border: 2px solid rgba(230,106,100, 1);
    outline: none;
} 

.popup-addlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.popup-addlinks__item {
    color: #b9b9cc;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    border-bottom: rgba(150, 193, 218, 0.15) 1px solid;
    padding-bottom: 3px;
}

.popup-addlinks__item:hover {
    color: #fbf6e4;
    border-bottom: rgba(251, 246, 228, 0.8) 1px solid;
}

.shadow {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 466px;
    height: 196px;
    margin: 0 auto;
    opacity: 0.91;
    top: -140px;
}
