/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.get {
    height: 100vh;
    background-image: url(./img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    text-align: center;
}

.get__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.desc {
    width: 390px;
    text-align: left;
}

.counterweight {
    height: 1px;
    width: 1px;
    visibility: hidden;;
}

.desc__title {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 1rem;
}

.desc__content {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2rem;
}

.btn {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    border: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.scroll-control {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

@media screen and (max-width:1024px) {
    .get {
        height: 70vh;
    }

    .scroll-control {
        visibility: hidden;
    }

    .desc__title {
        font-size: 40px;
    }

    .desc__content {
        font-size: 14px;
    }

    .btn {
        font-size: 16px;
    }
}
    
@media screen and (max-width:768px) {
    .desc {
        width: 280px;
        text-align: left; 
    }

    .get {
        background-image:  -webkit-gradient(
            linear,
            left top, left bottom,
            from(transparent),
            color-stop(rgba(255, 255, 255, 0.8)), to(transparent)), url(./img.webp);
        background-image:  -o-linear-gradient(
            transparent,
            rgba(255, 255, 255, 0.8), transparent), url(./img.webp);
        background-image:  linear-gradient(
            transparent,
            rgba(255, 255, 255, 0.8), transparent), url(./img.webp);
    }
}
    
@media screen and (max-width:320px) {
    .get {
        height: 50vh;
    }

    .desc {
        width: 100%;
        text-align: center; 
    }

    .desc__title {
        font-size: 24px;
        text-align: center;
    } 

    .desc__content {
        font-size: 12px;
        text-align: center;
    }
    
    .btn {
        font-size: 14px;
        width: 130px;
        height: 40px;
    }
}