/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.footer {
    height: 90px;
    background-color: #262626;
    color: #b9b9b9;
    font-family: 'Raleway', sans-serif;
}

.footer__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__logo {
    color: #b9b9b9;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}

.made--rad {
    color: #ff2b58;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .footer {
        height: 100px;
        font-size: 14px;
    }
    
    .footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .footer__logo {
        font-size: 20px;
    }
}