/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
    height: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.header:hover {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width:1200px) {
    .header {
        height: 10vh;
    }
     
}

@media screen and (max-width:1024px) {

     
}

@media screen and (max-width:768px) {

     
}