/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.logo {
    color: #262626;
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 400;
}