/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.gallary {
    background-color: #FFE92F;
    height: 1500px;
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 50px;

}

.gallary__inner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.page__title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
}

.page__subtitle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
}

.gallary-row-1 , .gallary-row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.gallary-row-1 {
    height: 550px;
    margin-bottom: 28px;
}

.gallary-row-2 {
    height: 400px;
}

.pic-1 , .pic-2 , .pic-3 , .pic-4 , .pic-5 {
    display: block;
    background-size: cover;
}

.pic-1 {
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
    margin-right: 28px;
    background-image: url('../img/pic-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pic-2 {
    background-image: url('../img/pic-2.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 28px;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
}
.pic-3 {
    background-image: url('../img/pic-3.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
}

.pic-2-3-col {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.pic-4 {
    background-image: url('../img/pic-4.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    margin-right: 28px;
}

.pic-5 {
    background-image: url('../img/pic-5.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
}

.gallery__btn {
    margin: auto;
}

.gallery__btn--gray {
    background-color: #5585A2;
}

@media screen and (max-width:1200px) {
    .gallary {
        padding-top: 0px;
        height: 160vh;
    }

    .page__title {
        font-size: 60px;
    } 
    
}
    
@media screen and (max-width:1024px) {
    .gallary {
        height: 130vh;
    }

    .page__title {
        font-size: 40px;
    }

    .page__subtitle {
        font-size: 14px;
    }
    
    .gallary-row-1 {
        height: 450px;
        margin-bottom: 28px;
    }
    
    .gallary-row-2 {
        height: 300px;
    }

    .button__link {
        font-size: 16px;
    }
}
    
@media screen and (max-width:768px) {
    .gallary {
        padding-top: 0px;
        height: 110vh;
    }

    .gallary-row-1 {
        height: 350px;
        margin-bottom: 20px;
    }

    .pic-1 {
        margin-right: 20px;
    }

    .pic-2 {
        margin-bottom: 20px;
    }

    .pic-4 {
        margin-right: 20px;
    }
    
    .gallary-row-2 {
        height: 200px;
    }
}
    
@media screen and (max-width:320px) {
    .gallary {
        height: 80vh;
    }

    .page__title {
        font-size: 24px;
    }

    .page__subtitle {
        font-size: 12px;
    }

    .button__link {
        font-size: 14px;
        width: 130px;
        height: 40px;
    }

    .gallary-row-1 {
        height: 250px;
        margin-bottom: 10px;
    }

    .pic-1 {
        margin-right: 10px;
    }

    .pic-2 {
        margin-bottom: 10px;
    }

    .pic-4 {
        margin-right: 10px;
    }

    .gallary-row-2 {
        height: 100px;
    }
}
