/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.gallary {
    background-color: #FFE92F;
    height: 1600px;
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 170px;
}

.page__title {
    margin: auto;
    margin-bottom: 28px;
}

.page__subtitle {
    margin: auto;
    margin-bottom: 45px;
}

.gallary__inner {
    margin-bottom: 48px;
}

.gallary-row-1 , .gallary-row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.gallary-row-1 {
    height: 550px;
    margin-bottom: 28px;
}

.gallary-row-2 {
    height: 400px;
}

.pic-1 , .pic-2 , .pic-3 , .pic-4 , .pic-5 {
    display: block;
    background-size: cover;
}

.pic-1 {
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
    margin-right: 28px;
    background-image: url('../img/pic-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pic-2 {
    background-image: url('../img/pic-2.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 28px;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
}
.pic-3 {
    background-image: url('../img/pic-3.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
}

.pic-2-3-col {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.pic-4 {
    background-image: url('../img/pic-4.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    margin-right: 28px;
}

.pic-5 {
    background-image: url('../img/pic-5.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
}

.button__link--gray {
    display: block;
    height: 100%;
    color: #ffffff;
}

.button--gray {
    background-color: #5585A2;
width: 200px;
margin: auto;
}