/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.subscribe {
    height: 573px;
    /* padding-top: 145px; */
    background-image: url('../img/bg-subscribe.png ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.subscribe-page__inner {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.subscribe-page__title {
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 34px;
}

.subscribe-page__subtitle {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    width: 570px;
    margin-bottom: 30px;
}

.subscribe-page-input {
    width: 570px;
    height: 56px;
    margin-right: 30px;
    font-size: 16px;
    padding-left: 16px;
}

.subscribe-page-submit {
    width: 170px;
    height: 56px;
    background-color: #96B92C;
    font-family: Raleway;
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    padding: 14px 20px;
    text-transform: uppercase;
}


@media screen and (max-width:1200px) {
    .subscribe {
        height: 50vh;
        background-image:linear-gradient(
            rgba(255,255,255, 0.8), transparent), url('../img/bg-subscribe.png ');

    }
    .subscribe-page__title {
        font-size: 60px;
    }

}
    
@media screen and (max-width:1024px) {
    .subscribe {
        padding: 30px 0;
        height: 40vh;
    }
    .subscribe-page__inner {
        align-items: center;
    }
    .subscribe-page__title {
        font-size: 40px;
    }
    .subscribe-page__subtitle {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }

.subscribe-page__form-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 570px;
    height: 200px;
}
.subscribe-page-input {
    width: 100%;
    margin-right: 0;
    font-size: 14px;
}

    .subscribe-page-submit {
        font-size: 16px;

    }
}
    
@media screen and (max-width:768px) {
    .subscribe-page__subtitle {
        width: 90%;
    }
    .subscribe-page__form-subtitle {
        width: 90%;
        height: 200px;
    }

}
    
@media screen and (max-width:320px) {
    .subscribe-page__title {
        font-size: 24px;
    }
    .subscribe-page-input {
        height: 40px;
    
    }
    .subscribe-page-submit {
        font-size: 14px;
        width: 130px;
        height: 40px;
    }
}