/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

.blog {
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #b07cf7;
    color: #ffffff;
    height: 80vh;
    /* padding-top: 170px; */
}

.page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
/*     -webkit-box-pack: center;
        -ms-flex-pack: center; */
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 100%; */
}

.blog__inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page__title {
    /* width: 568px; */
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    /* margin-bottom: 30px; */
}

.page__subtitle {
    max-width: 568px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    /* margin-bottom: 47px; */
}

.posts {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}

.post {
    display: inline-block;
    box-sizing: border-box;
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    /* min-width: 370px; */
    height: 310px;
    margin: 0 15px 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 23px;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.post:hover {
    top: -4px;
    left: 4px;
}

.post-1 {
    background-image: -o-linear-gradient(
        transparent,
        black), url('../img/img-post-1.webp');
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(transparent),
        to(black)), url('../img/img-post-1.webp');
    background-image: linear-gradient(
        transparent,
        black), url('../img/img-post-1.webp');
}

.post-2 {
    background-image: -o-linear-gradient(
        transparent,
        black), url('../img/img-post-2.webp');
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(transparent),
        to(black)), url('../img/img-post-2.webp');
    background-image: linear-gradient(
        transparent,
        black), url('../img/img-post-2.webp');
}

.post-3 {
    background-image: -o-linear-gradient(
        transparent,
        black), url('../img/img-post-3.webp');
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(transparent),
        to(black)), url('../img/img-post-3.webp');
    background-image: linear-gradient(
        transparent,
        black), url('../img/img-post-3.webp');
}

.post__data {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(38, 38, 38, 0.5);
    color: #ffffff;
    position: absolute;
    top: 30px;
    left: 30px;
    text-align: center;
}

.post__data-day {
    font-size: 32px;
    font-weight: 700;
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
}

.post__data-month {
    font-size: 21px;
    font-weight: 400;
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
}

.post__title {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 62px;
}

.post__label {
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    bottom: 23px
}

.post__btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #f72b3b;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    /* padding: 16px 43px; */
    cursor: pointer;
    margin-bottom: 50px;
}

/* .button__link {
    text-decoration: none;
    color: inherit;
} */


@media screen and (max-width:1200px) {

}
    
@media screen and (max-width:1024px) {
    .page__subtitle {
        font-size: 14px;
    }

    .post {
        flex-basis: 50%;
    }

    .post-3 {
        display: none;
    }
    .post__btn {
        font-size: 16px;

    }
}
    
@media screen and (max-width:768px) {
    .post-2 {
        display: none;
    }
         
}
    
@media screen and (max-width:320px) {
    .page__subtitle {
        max-width: 90%;
        font-size: 12px;
    }
    .post__btn {
        font-size: 14px;
        width: 170px;
        height: 40px;
    }
}