.about-us {
    height: 98vh;
    background-color: #00c4c4;
    background-image: url(./img.webp), radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-top: 290px;
}

.about-us__inner {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.about-us__desc {
    width: 500px;
}

.about-us__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    font-style: normal;
}

.about-us__content {
    color: #ffffff;
}