/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.about-us {
    height: 98vh;
    background-color: #00c4c4;
    background-image: url(./img.png), -o-radial-gradient(center, circle 1125px, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    background-image: url(./img.png), radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding: 80px 0;
}

.about-us__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.about-us__desc {
    width: 500px;
}

.about-us__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
}

.about-us__content {
    color: #ffffff;
}

@media screen and (max-width:1200px) {
    .about-us {
        background-image:  -webkit-gradient(
            linear,
            left top, left bottom,
            from(transparent),
            color-stop(rgba(0, 183, 183, 0.7)), to(transparent)), url(./img.png);
        background-image:  -o-linear-gradient(
            transparent,
            rgba(0, 183, 183, 0.7), transparent), url(./img.png);
        background-image:  linear-gradient(
            transparent,
            rgba(0, 183, 183, 0.7), transparent), url(./img.png);
    }
}
    
@media screen and (max-width:1024px) {
    .about-us {
        height: auto;
    }

    .about-us__title {
        font-size: 40px;
    }
}
    
@media screen and (max-width:768px) {
    .about-us__desc {
        width: 80%;
    }

    .about-us__inner {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

     .about-us__title {
        text-align: center;
    }

     .about-us__content {
        text-align: center;
    }
}
