/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


.nav__item {
    display: inline-block;
    list-style-type: none;
    color: #262626;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    margin-left: 38px;
    padding-top: 10px;
}

.nav__item--active {
    border-top: #ff6033 3px solid;
}

.nav__item:hover {
    border-top: #ff6033 3px solid;
} 

a {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width:1200px) {
.nav {
    width: max-content;
}
     
}

@media screen and (max-width:1024px) {
    .nav__item {
        margin-left: 1.4em;
    }    
}

@media screen and (max-width:768px) {
    .nav {
        display: none;
    }
     
}

@media screen and (max-width:320px) {

     
}