/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.nav__burger-label {
    display: none;
}

.nav__burger-icon {
    position: relative;
    display: block;
}

.nav__burger-input:checked ~ .nav {
    -webkit-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
            transform: translateX(-1000px);
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav__burger-icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 42px;
    height: 42px;
    z-index: 2;
}

.icon-burger-line {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
}

.line1 {
    top: 8px;
}

.line2 , .line3{
    top: 20px;
}

.line4 {
    top: 32px;
}

.nav__burger-input:checked ~ .nav__burger-label .line1 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.nav__burger-input:checked ~ .nav__burger-label .line2 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.nav__burger-input:checked ~ .nav__burger-label .line3 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.nav__burger-input:checked ~ .nav__burger-label .line4 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.nav__item {
    display: inline-block;
    list-style-type: none;
    color: #262626;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    margin-left: 38px;
    padding-top: 10px;
    border-top: rgba(255, 255, 255, .0) 3px solid;
}

.nav__item--active {
    border-color: #ff6033;
}

.nav__item:hover {
    border-color: #ff6033;
} 

.link , .logo {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width:1200px) {
    .nav {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
}

@media screen and (max-width:1024px) {
    .nav__item {
        margin-left: 1.4em;
    }    
}

@media screen and (max-width:768px) {
    .nav__burger-label {
        display: block;
    }

    .nav {
        position: absolute;
        z-index: 2;
        right: -1000px;
        top: 10vh;
        background-color: rgba(255, 255, 255, .95);
        overflow: auto;
    }

    .nav__item {
        display: block;
        font-size: 20px;
        margin-left: 0;
    }

    .link {
        display: block;
        padding: 24px 60px;
    }
}